<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Elibrary</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	
</head>
<body><font face="Ubuntu Medium">

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color:#DA81F5;">
				
					<div align="right" style="font-size:14px;">
						<a href="/accounts/login/"><font color="black">LOGIN |</font></a>
						<a href="/accounts/register/"><font color="black">REGISTER |</font></a>
						<a href="/accounts/logout/"><font color="black">LOGOUT |</font></a>
						<a href="/books/uploadbook/"><font color="black">UPLOAD</font></a>
					</div>

					<a href="/home/" target="_self">
					<img src="/Media/images/elibrary_logo.png" border="0" class="img-responsive"/>
					</a>
			
				<h1>E-Library<small><font color="black"><br>The one place for all educational books and videos...!</small></h1>

					<nav class="navbar navbar-success" role="navigation">
						<div>

							<ul class="nav navbar-nav navbar-right">
								
								<li class="active"><a href="/home/">HOME</a></li>
								<li class="active"><a href="/bookview/">BOOKS</a></li> 
								<li class="active"><a href="/videoview/">VIDEOS</a></li> 

							</ul>
						</div>
					</nav>


				<div class="col-xs-8 hidden-sm hidden-md hidden-lg" class="form-group">
					<label for="search">Search</label>
					<input type="search" class="form-control" id="search" placeholder="Search book or video" >
					<ul id = "search_results">
					</ul>
					<button type="submit" class="btn btn-success">Search</button>					
				</div>	

			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs" style="background-color:#f0fff0 border: 1px;">
				<div class="form-group" >
					<label for="search">Search</label>
					<input type="search" class="form-control" id="search" placeholder="Search book or video" >
					<ul id = "search_results">
					</ul>
					<button type="submit" class="btn btn-success">Search</button>

					<div id="menu" align="left">
						<h5>Catagories</h5>
						<a href="/compview/">Computer</a>
						<a href="/mechview/"><br>Mechanical</a>
						<a href="/etcview/"><br>Electronics & TeleCommunications</a>
						<a href="/electricalview/"><br>Electrical</a>
						<a href="/itview/"><br>Information Technology</a>
						<a href="/civilview/"><br>Civil Engineering</a>
					</div>
				</div>
			</div>
			
			<div class="col-lg-9 col-md-9 col-sm-9" style ="backgrounf-color:#90ee90;">

                                                  <!--Show All Categories Books-->
            
			
				{% if tag == "BOOK" %}
				{% if category == "None" %}
				{% for i in books %}

				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 5px 10px 10px;">
								{{ i.book_name}}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>




				{% endfor %}
				{% endif %}
				{% endif %}

	
				{% if tag == "VIDEO" %}             
				{% for i in books %}
					<div class="col-sm-5" style="margin: 10px 5px 10px 10px">

						<video controls style="width: 100%;">
							<source src="/Media/{{ i.thumbnail }}" type="video/mp4" style="margin: 10px; " ></source><br>
						</video>
						{{ i.book_name }}	

					</div>
				{% endfor %}
                {% endif %}

										<!--Show Single Book-->
				{% if book %}
					<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								<p><a href="/editbook/{{ book.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ book.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
					</div>


				{% endif %}

                                        <!--Show CategoryWise Books-->
            {% if tag == "BOOK" %}

                {% if category == "Computer" %}
				{% for i in books %}
		       
				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>


				
				{% endfor %}
				{% endif %}

                {% if category == "Mechanical" %}
				{% for i in books %}

				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>

				{% endfor %}
				{% endif %}

                {% if category == "E_&_TC" %}
				{% for i in books %}

				
				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>

				{% endfor %}
				{% endif %}

                {% if category == "IT" %}
				{% for i in books %}

					
				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>
			
				{% endfor %}
				{% endif %}

                {% if category == "Civil" %}
				{% for i in books %}

					
				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>


				{% endfor %}
				{% endif %}

                {% if category == "Electrical" %}
				{% for i in books %}

				
				<div class="col-md-3">    
						<div class="thumbnail">
							
								<img src="/{{ i.flname }}" style="width:90%; height:250px; margin:10px 10px 10px 10px;">
								{{ i.book_name }}
								<p><a href="/editbook/{{ i.id }}" class="label label-danger" rel="tooltip" title="Edit">Edit</a>
								<a href="/Media/{{ i.thumbnail }}" class="label label-default" rel="tooltip" title="Download now">Download</a></p>
						
						</div>
				</div>

				{% endfor %}
				{% endif %}

            {% endif %}

        </div>
        
            <div class="row">
				<div class="col-lg-12 col-md-12" style = "background-color:#b5dcb3;">
					<center>Copyright © 2015 E-library by Akash</center>
				</div>
			</div>
    </div>

    </font>
    </div>
			


	

<script src="/static/jquery.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="{% static 'ajax.js' %}"></script>
</font>
</body>
</html>